#!/usr/bin/env bash
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
WEBSERVER_URL = 'http://127.0.0.1:8080'
REACT_APP_API_BASE_URL=https://exl.workbench.couture.ai/rbac-backend
API_URL=https://exl.workbench.couture.ai/workbench-expt/
API_PREFIX=api/v1
PROJECTS_API_PREFIX=api/experimental
AUTO_API_URL='https://exl.workbench.couture.ai/autoapi/'
NOTEBOOK_URL=https://exl.workbench.couture.ai/experiments/hub


#AZURE CONFIG
REACT_APP_AZURE_ID=56ed7cf6-887d-4a15-8cab-9c5981b3c4e7
REACT_APP_CLIENT_ID=ea324162-6863-43b0-b012-ea5bffcc0854
REACT_APP_REDIRECT_URI=http://localhost:5000/auth/
